html, body, .root {
    font-family: 'Ubuntu';
    background: white;
    color: #424243;
    line-height: 1.5;
}

.header {
}

.header-text {

}

.header-logo {
}

.header a {
    background: none;
}

.nav {
}

a {
    color: #dd0066;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

hr {
    border-top:1px dashed rgba(0,0,0,0.2);
    border-bottom:none;
    border-right:none;
    border-left:none;
    margin: 20px 0;
}

pre {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.content {

}

.solution-list li {
    border-radius: 5px;
}

.solution-preview {
}

.solution-list .solution-preview-image {
    border-radius: 5px 0 0 5px;
}

.solution-title {
    font-weight: bold;
}

.solution-description {
}

div.solution-citation {
    font-family: 'Ubuntu Condensed';
    background: #323233;
    padding: 4px 10px;
    margin: 2px -10px;
}

.install-guide ol {
    margin: 0;
    padding: 0;
}

.install-guide li {
    display: flex;
}

.install-guide li > span {
    display: inline-block;
    flex: 3;
}

.install-guide li > span:first-child {
    flex: 1;
}

.install-guide li code, .solution-preview-guide code {
    background: #323234;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 110%;
    margin: 5px;
}

.solution-preview-text {
    background: #272729;
    border-radius: 0 5px 5px 0;
}

.meta-name {
    font-family: 'Ubuntu Mono';
    font-size: 110%;
}

.meta-value {
    background: white;
    margin-right: -20px;
}

.doc-box-content {
    background: white;
}

.doc-box {
    border-radius: 5px;
    background: rgba(255, 255,255 , 0.3);
}

.doc-box-title {
}

.meta-box {
    border-radius: 5px;
}

.solution-cover {
    border-radius: 5px;
}

.gui-button {
    box-shadow: #e2e2e4;
    border-radius: 3px;
}

.os-specific-download {
    border-radius: 12px;
}

.citation-doi, .tag {
    background: rgba(0, 0,0 , 0.1);
    border-radius: 3px;
    font-family: "Ubuntu Mono"
}

.learning-objectives, .task {
    box-shadow: 0px 0px 13px 13px rgba(0, 0, 0, .05);
    border-radius: 10px;
    margin: 30px 20px;
    padding: 20px;
}

.task .task-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.learning-objectives li {
    list-style: none;
}

.learning-objectives li:before {
    content: '✓ ';
    margin-right: 10px;
}

.intro-box {
    background: #f1f1f4;
    padding: 10px;
}

.snippet-link {
    background: #e3fffe;
    color: black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.snippet-link.optional {
    background: #e1f1e4;
    color: #414144;
}

.snippet .description {
    border-top: 2px dotted rgba(0,0,0,0.2);
    padding: 5px 0;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
}

a.intro-box {
    font-weight: normal;
}

@media (max-width: 1360px) {
    .header-logo, .header .header-menu-item {
        border: 0;
    }
}

