body {
    padding: 0;
    margin: 0;
}

li {
    margin: 20px 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px dotted rgba(0,0,0,0.2);
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 440px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.header-text > a {
    text-align: left;
    color: black;
    line-height: 1.1;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-title {
    font-size: 120%;
}

.header-logo {
    width:60px;
    min-width:60px;
}

.header-subtitle {
}

.logo {
    margin-right: 10px;
}

.root {
}

.main {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px;
}

.doc-box {
    padding: 10px;
}

.meta-box {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0px 5px;
    margin: 10px 0;
}

.meta-name {
    flex: 1;
    padding: 10px;
    margin: 10px 0;
}

.meta-value {
    flex: 3;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.doc-box {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
    line-height: 1.5;
}

.doc-box-title {
    font-weight: bold;
    padding: 20px;
}
.doc-box-content {
    padding: 20px;
    margin-top: 2px;
    margin-left: -20px;
    margin-right: -20px;
}

.clear {
    clear: both;
}

.break {
  flex-basis: 100%;
  height: 0;
}


.badges {
    display: flex;
    flex-wrap: wrap;
}

.badges > * {
    margin: 4px;
    background: #f1f1f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.badges span {
    color: black;
    font-family: 'Ubuntu mono';
    padding: 2px 5px;
    font-size: 80%;
}


.solution-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.solution-list li {
    margin: 0 0 15px 0;
    padding: 0px;
}

.solution-list a {
    background: none;
    padding: 0px;
    display: block;
}

.solution-preview {
    display: flex;
}

.solution-preview-text > div {
    margin: 2px 0;
}

.solution-preview-text {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.solution-preview-guide {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.solution-preview-image {
    flex: 1;
}

.solution-preview-guide {
    flex: 2;
}

.solution-cover {
    overflow: hidden;
    margin: 10px 0;
}

.small-screen-spacer {
    display: none;
}

.tags {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tags > * {
    margin: 0 10px 0 0;
}

.download-items {
    display: flex;
    flex-wrap: wrap;
}

.os-specific-download {
    padding: 10px;
    flex: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    max-width: 400px;
}

.os-specific-download > * {
    flex: 2;
    font-size: 95%;
    font-weight: normal;
}

.os-specific-download .logo {
    flex: 1;
    width: 60px;
    height: 60px;
}

.gui-button {
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
}

.citation-doi, .tag {
    padding: 10px;
    display: inline-block;
}

.citation-doi {
    margin-right: 20px;
}

.snippet-link {
    display: block;
    margin: 10px 0px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
}

.snippet-link h2 {
    margin: 10px 0;
}

.feedback {
    padding: 20px;
    line-height: 1.5;
    margin-top: 50px;
    font-size: 110%;
    border-radius: 5px;
    font-weight: normal;
}

.feedback b {
    color: #dd0033;
    font-size: 200%;
}

.line {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.line .intro-box {
    flex: 6;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.line > div {
    margin: 10px;
    padding: 10px;
}

.line > .dummy {
}

.intro-box h3 {
    margin: 10px 0;
}

.line > div, .line > .flex-middle {
    flex: 3;
}

.line > div, .line > .flex-more {
    flex: 6;
}

.catalogs {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.catalogs ul {
    border: 0;
    list-style: none;
}

ul.catalogs > li {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background: #f4f4f7;
}

.catalog-note {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.5);
}

.catalog-add-to-collection {
    background: #ffffff;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
    margin-bottom: 15px;
}

.catalogs li.catalog-header {
    background: none;
}

.catalog-name {
    flex: 1;
    padding-right: 20px;
    font-family: 'Ubuntu mono';
}

.catalog-album-url {
    flex: 4;
    font-family: 'Ubuntu mono';
    font-weight: bold;
}

.catalog-badge {
    flex: 1;
}

.catalog-description {
    flex: 4;
}

.catalog-description li {
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-description li:before {
    content: "*" " ";
    margin-right: 10px;
}

.explained-code pre {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    background: none;
    padding: 0;
    border-radius: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: white;
  color: #000000;
  text-align: left;
  padding: 5px 10px;
  border-radius: 0 13px 13px 13px;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: -15px;
  box-shadow: -3px 3px 7px 7px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
  font-size: 95%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover pre {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.1);
}

.tooltiptext:after {
    border-color: transparent white transparent transparent;
    height: 0;
    top: 7px;
    left: -7px;
    margin-left: 0px;
    border-width: 0 7px 7px 0;
}

.booh {
    padding: 2px;
    color: white;
}

.solution-example-code {
  align-self: center;
  background: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  max-width: 800px;
}

.coming-soon {
    opacity: 0.6;
}

#sharing_via_catalogs {
    margin-left: 10px;
    flex: 4;
}

.line.intro {
    margin-bottom: 0;
}

.line .intro {
    margin-bottom: 0px;
}

.line.installer {
    margin-bottom: 10px;
}

div.install-options {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 10;
}

.install-options a {
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: #2dd1a3;
}

.install-options h3 {
    margin: 0;
    text-align: left;
}

#installer-line {
    margin-top: 40px;
    display: flex;
}

#installer-line .line {
    flex-wrap: nowrap;
    margin: 0;
}


#browse_catalogs {
    margin-right: 20px;
    flex: 8;
}

#share_solutions {
    margin-left: 20px;
    flex: 8;
}

#browse_catalogs ul, #share_solutions ul {
  list-style: none;
  padding-left: 0;
}

#browse_catalogs ul li, #share_solutions ul li {
  position: relative;
  padding-left: 1.5em;
}

#browse_catalogs ul li:before, #share_solutions ul li:before {
  content: '★';
  position: absolute;
  left: 0;  /* place the SVG at the start of the padding */
  color: #dd0066;
  width: 1em;
  height: 1em;
}

.center {
    text-align: center;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
}

.footer > * {
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
}

.link-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.affiliation {
}

.footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.footer .nav > * {
    display: block;
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: right;
}
.flex {
    flex: 1;
}

.next-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.next-steps h2 {
    border: 0;
}

.next-steps h3 {
    margin: 0;
}

.snippet-link.next-step {
    max-width: 450px;
    text-align: right;
    background: none;
    display: flex;
    align-items: center;
    box-shadow: none;
    padding: 0;
}

.next-step .arrow {
    font-size: 200%;
    margin-left: 20px;
}

#center-concept-block {
    display: flex;
    flex-direction: column;
}

.snippet p {
}

.guide {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.guide-inputs {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.guide-inputs > * {
    margin: 5px;
    display: flex;
}

.guide-inputs label {
    margin: 0 5px;
    width: 220px;
    display: block;
}

.form-title {
  font-size: 140%;
  margin-right: 20px;
  align-self: flex-end;
  width: 100px;
}

@media (max-width: 1000px) {
    .leader-line {
        display: none;
    }
    .flex-middle, .flex-more, .line .intro-box, .line > div {
        min-width: 80%;
        align-self: stretch;
        margin: 10px 0;
    }
    .line > div {
        padding: 0;
    }
    .dummy {
        display: none;
    }
    #browse_catalogs, #share_solutions, #sharing_via_catalogs {
        margin: 10px 0;
    }
    #sharing_via_catalogs {
        padding: 0;
    }
    .line {
        margin: 0px;
    }
    #installer-line .intro-box {
        margin: 5px;
    }
    #album-intro {
        order: 2;
    }
    #browse_catalogs {
        order: 2;
    }
    #share_solutions {
        order: 3;
    }
    #concepts {
        order: 2;
    }
    #installer-line {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
